<div class="card">
  <div class="card-header">
    <strong><%= @title %></strong>
  </div>

  <div class="card-body">
    <ul class="m-0">
      <% links.each do |link| %>
        <%= link %>
      <% end %>
    </ul>
  </div>
</div>
