name: CI

on:
  push:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  ci:
    uses: mpimedia/mpi-application-workflows/.github/workflows/ci-rails.yml@f00663fa9e97a7dafa18b276a6e483094116b98e # pin to known-good SHA
    secrets: inherit
